---
import DefaultLayout from '../layout/DefaultLayout.astro';
---
<DefaultLayout title="Lastest">
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. At dignissimos magnam ab deserunt odit eveniet molestias accusamus sit, aliquid rem officiis, explicabo, atque perferendis consequatur officia quasi repellendus itaque corrupti?</p>
</DefaultLayout>